<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
<title>About</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
</head>
<body>
 <!-- verx-->
    {% include "header.html" %}

<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <main>


        <div class="row align-items-md-stretch py-5">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-light rounded-3">
                        <h1>{{ car.name }}</h1>
                        <h3>Type: {{carType}}</h3>
                        <p>{{ car.description }}</p>
                        <h3>Price: ${{ car.price }}</h3>
                        <a href="mailto:mephi1984@gmail.com" class="btn btn-outline-dark" type="button">Order now!</a>
                    </div>
                </div>
                <div class="col-md-6" style="padding:0">
                        <img src="{{car.image.url}}" class="d-block w-100" style="max-width:100%; max-height:100%">
                </div>
            </div>
        </div>
    </main>



 <p>
        <b>Comments for car:</b>
<ol>
    {%for i in object.comment_object.all %}
    <li>
            <p>{{i.text}}</p>


        </li>
    <p>{{t.created_date}}</p>
    {%endfor%}

</ol>
    </p>

 <!--konec-->
{% include "footer.html" %}



<script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>