<!--Footer-->
<div class="container text-left">
    <div class="row">
        <div class="col-3">
            <div class="StyledTextComponent-sc-hqqa9q jJmmQf">Address: Maldybaeva 34B</div>
            <div class="StyledTextComponent-sc-hqqa9q jJmmQf">Numbers: +447458197431</div>
            <div class="StyledTextComponent-sc-hqqa9q jJmmQf">E-mail: mephi1984@gmail.com</div>
        </div>
        <div class="col-9">
        </div>
        <div class="StyledTextComponent-sc-hqqa9q bCynGP" style="margin-bottom: 40px;">© Volkswagen 2022</div>
    </div>
</div>