<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
<title>About</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
</head>
<body>
 <!-- verx-->
    {% include "header.html" with aboutActive="active" %}

<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <main class="container">
<div class="row justify-content-center" style="margin-top:80px;margin-bottom:80px">
<form method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit">Register</button>
</form>
</div>
          </main>
 <!--konec-->
{% include "footer.html" %}

<script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>