<!--Footer-->
<div class="container text-left">
    <div class="row">
        <div class="col-3">
            <div class="StyledTextComponent-sc-hqqa9q jJmmQf">Address: {{footer.address}}</div>
            <div class="StyledTextComponent-sc-hqqa9q jJmmQf">Numbers: {{footer.number_phone}}</div>
            <div class="StyledTextComponent-sc-hqqa9q jJmmQf">E-mail: {{footer.mail}}</div>
        </div>
        <div class="col-9">
        </div>
        <div class="StyledTextComponent-sc-hqqa9q bCynGP" style="margin-bottom: 40px;">© Volkswagen 2022</div>
    </div>
</div>